/* GLOBALS */
.global-p {
  text-align: center;
}
.global-pre {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  text-align: center;
}
.global-h3 {
  text-align: center;
}
.global-h2 {
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  background: url(./images/1579251311_1.jpg);
}
.region-h2 {
  text-align: center;
  color: blue;
}
.header-logo {
  text-align: center;
}
.header-h1 {
  text-align: center;
}
/* MENU */
.header-menu-nav {
  text-align: center;
}
.header-menu-item {
  list-style: none; /*Убираем маркер*/
  display: inline-block; /*Выстраиваем пункты в ряд*/
  background: #ccc; /*Цвет фона для пункта*/
  position: relative;
  transition: 0.5s;
}
.header-menu-item:hover {
  background-color: darkorchid;
  border-color: yellow;
  border-radius: 5px;
  border-style: solid;
  border-collapse: separate;
}
.header-menu-item a {
  color: #222; /*Цвет шрифта в пункте*/
  padding: 5px 7px; /*Отступы для пункта*/
  text-decoration: none; /*Убираем подчеркивание*/
  display: block;
}
/* MAIN */
.main {
  background-color: white;
}

.main-picture {
  margin-left: 170px;
  margin-right: 50px;
}

/* WARNING SIGNS */
.warning-i {
  color: red;
}
/* FOOTER */
.footer-img {
  margin-left: 150px;
  border-color: silver;
  border-style: solid;
}
.footer-part {
  display: flex;
}
.footer-h3 {
  margin-left: 20px;
}
